.overlayWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    backdrop-filter: blur(60px);
    background-color: rgba(0, 0, 0, 0.75);
}
