@import url(../../index.css);

.typesWrapper {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}

.typeBtn {
    background: #404040;
    border: none;
    height: 40px;
    color: var(--text-color);
    font: 400 23px Poppins;
    transition: 0.2s;
    padding: 0 25px;
}

.typeBtn:not(:disabled) {
    cursor: pointer;
}

.typeBtn:disabled {
    background-color: var(--red);
}

.typeBtn:first-child {
    border-radius: 8px 0 0 8px;
}

.typeBtn:last-child {
    border-radius: 0 8px 8px 0;
}
